In [1]:
from Scripts.function import load_process

In [2]:
df = load_process("../data/raw/adult.data")

In [3]:
df

,Age,Work Class,Education,Occupation,Relationship,Race,Sex,Hours/Week,Native Country,<=50K
0,50,Self-emp-not-inc,Bachelors,Exec-managerial,Husband,White,Male,13,United-States,<=50K
1,38,Private,HS-grad,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
2,53,Private,11th,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
3,28,Private,Bachelors,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
4,37,Private,Masters,Exec-managerial,Wife,White,Female,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,Tech-support,Wife,White,Female,38,United-States,<=50K
32556,40,Private,HS-grad,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
32557,58,Private,HS-grad,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
32558,22,Private,HS-grad,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,Exec-managerial,Wife,White,Female,40,United-States,>50K